header{
    background: url("../images/background.jpg") no-repeat;
    width: 100%;
    height: 100%;
    background-size: 100%;
}

form{
    display: inline-block;
    margin-bottom: 7rem;
}

.infos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10.5em;
}

.card{
    border: none;
}

.line{
    height: 1px;
    opacity: 0.2;
    background-color: gray;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer img{
    width: 150px;
    height: 100px;
}

footer p{
    margin-left: 2rem;
}

.bold{
    font-weight: bold;
}

.navbar-toggler-icon{
    background-image: url(../images/menu-icon.svg);
}

nav{
    float: right;
}